/* Mobile First Styling (375px width) */
body {
    display: flex;
    flex-direction: column;
    /*border: solid black 1px;*/
    align-items: center;
}

.container {
    position: relative;;
    min-height: 100vh;
    max-width: 375px;
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dotted 1px blue;
}

h1{
    text-align: center;
    font-size: 1.5rem;
    margin: 0.75rem;
}

h2{
    text-align: center;
    font-size: 1.25rem;
    margin: .5rem .5rem 1rem .5rem;
}

nav ul{
    display: flex;
    align-items: center;
    align-content: space-around;
}

li a{
    box-sizing: border-box;
    width: 100px;
    text-decoration: none;
}

.button {
    border: solid black 1px;
    border-radius: 4px;
    padding: 0.25rem;
    background-color: azure;
    margin: 10px 10px;
}

.form-container {
    border: dotted black 1px;
    width: 100vw;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 4%;
}    

.form-group label {
    
}

.form-group input, .form-group select {
    
}

button {
    border: solid black 1px;
    border-radius: 4px;
    padding: 0.25rem;
    background-color: azure;
    margin: 0.25rem;
}

button:hover {
    
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    text-align: center;
}

/* Larger screens */
@media (min-width: 600px) {
    .container {
        max-width: 600px;
    }
}