<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Login</title>
  </head>
  <body>
    <div class="container">
    <h1>Login</h1>
    <form method="post" class="form-container">
      <label for="cpf">CPF:</label>
      <input type="text" id="cpf" name="cpf" required><br>
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha" required><br>
      <button type="submit">Login</button>
    </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>