:root{
    /* Cores*/
    --roxo:#650164;
    --laranja:#F77006;
}

/* Mobile First Styling (375px width) */
body, html{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 100vw;
    margin: 0;
    flex: 1;
    /* padding: .75rem 0; */
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    color: red;
    text-align: center;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: var(--roxo);
    font-family: lato;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    margin: 0.75rem;
}

img{
    width: 40%;
    margin: 0.75rem;
}

h2{
    color: var(--roxo);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 1.25rem;
    margin: 1.5rem .5rem .5rem .5rem;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;
    margin: .5rem .5rem 1rem .5rem;
}

section{
    text-wrap: wrap;
    margin: .5rem .75rem 1rem .75rem;
    padding: .75rem;
}

section p, ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

section ul{
    list-style: disc;
}

section li{
    margin: 0 .5rem .5rem .9rem;
}

section .aviso{
    font-weight: bold;
    margin: 0 0 .5rem 0;
}


.button:hover{
    background-color: var(--laranja);
}

.form-container {
    width: 100vw;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0 4%;
}    

.form-group label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    margin-bottom: .25rem;
}

.form-group input, .form-group select {
    margin-bottom: .5rem;
    padding: 0.25rem;
    border: 2px solid #ccc; /* Cor padrão da borda */
    padding: .5rem;
    border-radius: .25rem;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-group input:focus{
    border-color: #F77006; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão do navegador */
    box-shadow: 0 0 5px rgba(247, 112, 6, 0.5); /* Sombra leve ao focar */
}

.button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    width: 100%;
}

button, .button{
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: var(--roxo);
    padding: 0.5rem;
    margin: 0.25rem;
    color: #FFFFFF;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    display: inline-block; /* Certifique-se de que ambos estão sendo tratados como elementos de bloco */
    vertical-align: middle; /* Alinhe verticalmente se necessário */
    line-height: normal; /* Certifique-se de que a linha não esteja sendo afetada */
    height: auto; /* Pode ser necessário ajustar a altura explicitamente */
    width: 30%;
}

button:hover {
    background-color: var(--laranja);
}

.button:hover{
    background-color: var(--laranja);
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0.5rem 0;
    background-color: var(--roxo);
    color: #FFFFFF;
    text-align: center;
    justify-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    flex-shrink: 0;
    z-index: 1;
}

footer p a{
    text-decoration: none;
    color: inherit;
}

/* Larger screens */
@media (min-width: 599px) {
    body{
        background-color: #f3f3f3;
    }
    
    .container {
        max-width: 600px;
        background-color: #ffffff;
    }

    .form-container{
        max-width: 600px;
    }

    img {
        width: 30%;
    }

    footer p a:hover{
        text-decoration: underline;
        color: var(--laranja);
    }
}